<IfModule mod_rewrite.c>
    RewriteEngine On
    # Supprimez RewriteBase ou ajustez-le
    # RewriteBase /

    # Si la requête est la racine, aller dans public/
    RewriteRule ^$ public/ [L]

    # Pour toutes les autres requêtes n'existant pas et non déjà dans public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>